{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h3>Добавление книги</h3>
<div class="input-group mb-3">
    {{ include('book/_form.html.twig') }}
</div>
<div class="input-group mb-3">
    <a href="{{ path('app_book_index') }}" class="btn btn-primary my-2">Вернуться к поиску книг</a>
    </div>
{% endblock %}
