<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Вы действительно желаете удалить свой аккаунт?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-outline-dark" style="margin-top:20px">Удалить аккаунт</button>
</form>
